
<!--
  date : 2018-05-21
  author : Gil.hyunjin (powe0101@naver.com)
  file : index.ejs
-->
<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v4.7.2, https://test2q-202504.appspot.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.7.2, test2q-202504.appspot.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo2.png" type="image/x-icon">
  <meta name="description" content="">
  <title><%= title %></title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/gallery/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">



</head>
<body>
  <section class="menu cid-qRkTi64zN7" once="menu" id="menu1-e">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://test2q-202504.appspot.com/">
                         <img src="assets/images/logo2.png" alt="Mobirise" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="index.html">
                        수근수근</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white display-4" href="/page1"><span class="mbrib-paper-plane mbr-iconfont mbr-iconfont-btn"></span>
                        질문하기</a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="/page1"><span class="mbrib-edit2 mbr-iconfont mbr-iconfont-btn"></span>
                        답변하기</a></li><li class="nav-item dropdown"><a class="nav-link link text-white dropdown-toggle display-4" href="/page1" data-toggle="dropdown-submenu" aria-expanded="false">
                        <span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>MyTrips</a><div class="dropdown-menu"><a class="text-white dropdown-item display-4" href="/page1">Tip &amp; Tech<br></a><a class="text-white dropdown-item display-4" href="/page1">Travel Log<br></a></div></li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="https://test2q-202504.appspot.com/">
                    <span class="mbri-save mbr-iconfont mbr-iconfont-btn "></span>Login</a></div>
        </div>
    </nav>
</section>

<section class="engine"><a href="https://test2q-202504.appspot.com/">bootstrap website templates</a></section><section class="menu cid-qRqXgbVU97" once="menu" id="menu1-o">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://test2q-202504.appspot.com/">
                         <img src="assets/images/logo2.png" alt="Mobirise" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="index.html">
                        수근수근</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white display-4" href="/page1"><span class="mbrib-paper-plane mbr-iconfont mbr-iconfont-btn"></span>
                        질문하기</a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="/page1"><span class="mbrib-edit2 mbr-iconfont mbr-iconfont-btn"></span>
                        답변하기</a></li><li class="nav-item dropdown"><a class="nav-link link text-white dropdown-toggle display-4" href="/page1" data-toggle="dropdown-submenu" aria-expanded="false">
                        <span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>MyTrips</a><div class="dropdown-menu"><a class="text-white dropdown-item display-4" href="/page1">Tip &amp; Tech<br></a><a class="text-white dropdown-item display-4" href="/page1">Travel Log<br></a></div></li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="https://test2q-202504.appspot.com/">
                    <span class="mbri-save mbr-iconfont mbr-iconfont-btn "></span>Login</a></div>
        </div>
    </nav>
</section>

<section class="menu cid-qRqXgX2sar" once="menu" id="menu1-p">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://test2q-202504.appspot.com/">
                         <img src="assets/images/logo2.png" alt="Mobirise" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="index.html">
                        수근수근</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white display-4" href="/page1"><span class="mbrib-paper-plane mbr-iconfont mbr-iconfont-btn"></span>
                        질문하기</a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="/page1"><span class="mbrib-edit2 mbr-iconfont mbr-iconfont-btn"></span>
                        답변하기</a></li><li class="nav-item dropdown"><a class="nav-link link text-white dropdown-toggle display-4" href="/page1" data-toggle="dropdown-submenu" aria-expanded="false">
                        <span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>MyTrips</a><div class="dropdown-menu"><a class="text-white dropdown-item display-4" href="/page1">Tip &amp; Tech<br></a><a class="text-white dropdown-item display-4" href="/page1">Travel Log<br></a></div></li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="https://test2q-202504.appspot.com/">
                    <span class="mbri-save mbr-iconfont mbr-iconfont-btn "></span>Login</a></div>
        </div>
    </nav>
</section>

<section class="menu cid-qRqXeTsAb1" once="menu" id="menu1-n">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://test2q-202504.appspot.com">
                         <img src="assets/images/logo2.png" alt="Mobirise" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="index.html">
                        수근수근</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white display-4" href="/page1"><span class="mbrib-paper-plane mbr-iconfont mbr-iconfont-btn"></span>
                        질문하기</a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="/page1"><span class="mbrib-edit2 mbr-iconfont mbr-iconfont-btn"></span>
                        답변하기</a></li><li class="nav-item dropdown"><a class="nav-link link text-white dropdown-toggle display-4" href="/page1" data-toggle="dropdown-submenu" aria-expanded="false">
                        <span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>MyTrips</a><div class="dropdown-menu"><a class="text-white dropdown-item display-4" href="/page1">Tip &amp; Tech<br></a><a class="text-white dropdown-item display-4" href="/page1">Travel Log<br></a></div></li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="https://test2q-202504.appspot.com/">
                    <span class="mbri-save mbr-iconfont mbr-iconfont-btn "></span>Login</a></div>
        </div>
    </nav>
</section>

<section class="header10 cid-qRkU6lsPrk mbr-fullscreen mbr-parallax-background" id="header10-i">



    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);">
    </div>

    <div class="container">
        <div class="media-container-column mbr-white col-lg-8 col-md-10 ml-auto">
            <h1 class="mbr-section-title align-right mbr-bold pb-3 mbr-fonts-style display-1">
                FULL SCREEN INTRO
            </h1>
            <h3 class="mbr-section-subtitle align-right mbr-light pb-3 mbr-fonts-style display-2">
                Beautiful mobile websites
            </h3>
            <p class="mbr-text align-right pb-3 mbr-fonts-style display-5">
               Click any text to edit or style it. Select text to insert a link. Click blue "Gear" icon in the top right corner to hide/show buttons, text, title and change the block background. Click red "+" in the bottom right corner to add a new block. Use the top left menu to create new pages, sites and add themes.
            </p>
            <div class="mbr-section-btn align-right">
                <a class="btn btn-md btn-primary display-4" href="https://test2q-202504.appspot.com/">LEARN MORE</a>
                <a class="btn btn-md btn-white-outline display-4" href="https://test2q-202504.appspot.com/">LIVE DEMO</a>
            </div>
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="mbr-gallery mbr-slider-carousel cid-qRkUbFaNqE" id="gallery2-j">



    <div>
        <div><!-- Filter --><div class="mbr-gallery-filter container gallery-filter-active"><ul buttons="0"><li class="mbr-gallery-filter-all"><a class="btn btn-md btn-primary-outline active display-7" href="">All</a></li></ul></div><!-- Gallery --><div class="mbr-gallery-row"><div class="mbr-gallery-layout-default"><div><div><div class="mbr-gallery-item mbr-gallery-item--p2 video-slide" data-video-url="https://www.youtube.com/watch?v=fwkKc6M60-0" data-tags="Awesome"><div href="#lb-gallery2-j" data-slide-to="0" data-toggle="modal"><div></div><img alt="" src="assets/images/preview.jpg"><span class="icon-video"></span></div></div><div class="mbr-gallery-item mbr-gallery-item--p2" data-video-url="false" data-tags="Responsive"><div href="#lb-gallery2-j" data-slide-to="1" data-toggle="modal"><img src="assets/images/gallery01.jpg" alt="" title=""><span class="icon-focus"></span></div></div><div class="mbr-gallery-item mbr-gallery-item--p2" data-video-url="false" data-tags="Creative"><div href="#lb-gallery2-j" data-slide-to="2" data-toggle="modal"><img src="assets/images/gallery02.jpg" alt="" title=""><span class="icon-focus"></span></div></div><div class="mbr-gallery-item mbr-gallery-item--p2" data-video-url="false" data-tags="Animated"><div href="#lb-gallery2-j" data-slide-to="3" data-toggle="modal"><img src="assets/images/gallery03.jpg" alt="" title=""><span class="icon-focus"></span></div></div><div class="mbr-gallery-item mbr-gallery-item--p2" data-video-url="false" data-tags="Awesome"><div href="#lb-gallery2-j" data-slide-to="4" data-toggle="modal"><img src="assets/images/gallery04.jpg" alt="" title=""><span class="icon-focus"></span></div></div><div class="mbr-gallery-item mbr-gallery-item--p2" data-video-url="false" data-tags="Awesome"><div href="#lb-gallery2-j" data-slide-to="5" data-toggle="modal"><img src="assets/images/gallery05.jpg" alt="" title=""><span class="icon-focus"></span></div></div><div class="mbr-gallery-item mbr-gallery-item--p2" data-video-url="false" data-tags="Responsive"><div href="#lb-gallery2-j" data-slide-to="6" data-toggle="modal"><img src="assets/images/gallery06.jpg" alt="" title=""><span class="icon-focus"></span></div></div><div class="mbr-gallery-item mbr-gallery-item--p2" data-video-url="false" data-tags="Animated"><div href="#lb-gallery2-j" data-slide-to="7" data-toggle="modal"><img src="assets/images/gallery07.jpg" alt="" title=""><span class="icon-focus"></span></div></div></div></div><div class="clearfix"></div></div></div><!-- Lightbox --><div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-gallery2-j"><div class="modal-dialog"><div class="modal-content"><div class="modal-body"><div class="carousel-inner"><div class="carousel-item video-container"><img src="assets/images/gallery00.jpg" alt="" title=""></div><div class="carousel-item active"><img src="assets/images/gallery01.jpg" alt="" title=""></div><div class="carousel-item"><img src="assets/images/gallery02.jpg" alt="" title=""></div><div class="carousel-item"><img src="assets/images/gallery03.jpg" alt="" title=""></div><div class="carousel-item"><img src="assets/images/gallery04.jpg" alt="" title=""></div><div class="carousel-item"><img src="assets/images/gallery05.jpg" alt="" title=""></div><div class="carousel-item"><img src="assets/images/gallery06.jpg" alt="" title=""></div><div class="carousel-item"><img src="assets/images/gallery07.jpg" alt="" title=""></div></div><a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#lb-gallery2-j"><span class="mbri-left mbr-iconfont" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#lb-gallery2-j"><span class="mbri-right mbr-iconfont" aria-hidden="true"></span><span class="sr-only">Next</span></a><a class="close" href="#" role="button" data-dismiss="modal"><span class="sr-only">Close</span></a></div></div></div></div></div>
    </div>

</section>

<section class="mbr-section content4 cid-qRkUdksCmF" id="content4-k">



    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Article Title with Solid Background
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    Shape your future web project with sharp design and refine coded functions.
                </h3>

            </div>
        </div>
    </div>
</section>

<section class="features1 cid-qRqXkFnYMy" id="features1-r" data-bg-video="http://www.youtube.com/watch?v=uNCr7NdOJgw">



    <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(239, 239, 239);">
    </div>
    <div class="container">
        <div class="media-container-row">

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbri-bootstrap mbr-iconfont"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        No Coding
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Mobirise is an easy website builder - just drop site elements to your page, add content and style it to look the way you like.
                    </p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbri-touch mbr-iconfont"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Mobile Friendly
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        All sites you make with Mobirise are mobile-friendly. You don't have to create a special mobile version of your site.
                    </p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbri-responsive mbr-iconfont"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Unique Styles
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Mobirise offers many site blocks in several themes, and though these blocks are pre-made, they are flexible.
                    </p>
                </div>
            </div>



        </div>

    </div>

</section>

<section class="cid-qRqXmQR22k" id="pricing-tables1-s" data-bg-video="http://www.youtube.com/watch?v=uNCr7NdOJgw">



    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
        <div class="media-container-row">

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">스탠다드</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">
                            $
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                              35</span>
                        <small class="price-term mbr-fonts-style display-7">
                            per month
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                Mobirise is perfect for non-techies who are not familiar with web development.
                            </li>
                            <li class="list-group-item">
                                5 GB Bandwidth
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="https://test2q-202504.appspot.com/" class="btn btn-primary display-4">BUY NOW</a>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        비즈니스</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">
                            $
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            65</span>
                        <small class="price-term mbr-fonts-style display-7">
                            per day
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                Mobirise is perfect for non-techies who are not familiar with web development.
                            </li>
                            <li class="list-group-item">
                                10 GB Bandwidth
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="https://test2q-202504.appspot.com/" class="btn btn-primary display-4">BUY NOW</a>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        프리미엄</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">
                            $
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            90</span>
                        <small class="price-term mbr-fonts-style display-7">
                            per year
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                Mobirise is perfect for non-techies who are not familiar with web development.
                            </li>
                            <li class="list-group-item">
                                15 GB Bandwidth
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="https://test2q-202504.appspot.com/" class="btn btn-primary display-4">BUY NOW</a>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        무제한</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">
                            $
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            150</span>
                        <small class="price-term mbr-fonts-style display-7">
                            per hour
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                Mobirise is perfect for non-techies who are not familiar with web development.
                            </li>
                            <li class="list-group-item">Unlimited Bandwidth
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="https://test2q-202504.appspot.com/" class="btn btn-primary display-4">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="header11 cid-qRqXiFawtU mbr-fullscreen" data-bg-video="http://www.youtube.com/watch?v=uNCr7NdOJgw" id="header11-q">

    <!-- Block parameters controls (Blue "Gear" panel) -->

    <!-- End block parameters -->

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container align-left">
        <div class="media-container-column mbr-white col-md-12">
            <h3 class="mbr-section-subtitle py-3 mbr-fonts-style display-5">
                MOBIRISE WEBSITES BUILDER
            </h3>
            <h1 class="mbr-section-title py-3 mbr-fonts-style display-1">
                Create awesome <strong>mobile-friendly</strong> websites! No coding and <strong>free</strong>.
            </h1>
            <p class="mbr-text py-3 mbr-fonts-style display-5">
                Click any text to edit or style it. Select text to insert a link. Click blue "Gear" icon in the top right corner to hide/show buttons, text, title and change the block background. Click red "+" in the bottom right corner to add a new block. Use the top left menu to create new pages, sites and add themes.
            </p>
            <div class="mbr-section-btn py-4">
                    <a class="btn btn-md btn-primary display-4" href="https://test2q-202504.appspot.com/">LEARN MORE</a>
                    <a class="btn btn-md btn-white-outline display-4" href="https://test2q-202504.appspot.com/">LIVE DEMO</a>
            </div>
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="mbr-section article content11 cid-qRkUeg82Yw" id="content11-l">


    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                <ol>
                    <li><strong>MOBILE FRIENDLY</strong> - no special actions required, all sites you make with Mobirise are mobile-friendly. You don't have to create a special mobile version of your site, it will adapt automagically. <a href="https://test2q-202504.appspot.com/">Try it now!</a></li>
                    <li><strong>EASY AND SIMPLE</strong> - cut down the development time with drag-and-drop website builder. Drop the blocks into the page, edit content inline and publish - no technical skills required. <a href="https://test2q-202504.appspot.com/">Try it now!</a></li>
                    <li><strong>UNIQUE STYLES</strong> - choose from the large selection of latest pre-made blocks - full-screen intro, bootstrap carousel, content slider, responsive image gallery with lightbox, parallax scrolling, video backgrounds, hamburger menu, sticky header and more. <a href="https://test2q-202504.appspot.com/">Try it now!</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="cid-qRkTi7BrAw" id="footer1-g">





    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="https://test2q-202504.appspot.com/">
                        <img src="assets/images/logo22.png" alt="Mobirise" title="">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3"></h5>
                <p class="mbr-text"><br><br></p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Contacts
                </h5>
                <p class="mbr-text">
                    Email:<br>Phone: +82 (0) 000 0000 001
<br></p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-1">
                <h5 class="pb-3">
                    Links<br></h5>
                <p class="mbr-text"></p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7"></p><p>
                        © Copyright 2018 수군수군 - All Rights Reserved</p><p></p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://test2q-202504.appspot.com/" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://test2q-202504.appspot.com/" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://test2q-202504.appspot.com/" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://test2q-202504.appspot.com/" target="_blank">
                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://test2q-202504.appspot.com/" target="_blank">
                                <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://test2q-202504.appspot.com/" target="_blank">
                                <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/parallax/jarallax.min.js"></script>
  <script src="assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
  <script src="assets/ytplayer/jquery.mb.ytplayer.min.js"></script>
  <script src="assets/masonry/masonry.pkgd.min.js"></script>
  <script src="assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/slidervideo/script.js"></script>
  <script src="assets/gallery/player.min.js"></script>
  <script src="assets/gallery/script.js"></script>


</body>
</html>
